{% extends 'layout.html' %}
{% block content %}
<div class="mdl-grid" id="rules">{% include 'rules.html' with context %}</div>
<div class="mdl-grid sensors" id="sensors">{% include 'sensors.html' with context %}</div>
<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Rename Sensor</h4>
    <div class="mdl-dialog__content">
<form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="newname">
        <label class="mdl-textfield__label" for="newname">New Name</label>
        <p id="ident"></p>
    </div>
</form>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close" onclick="new_name()">Save</button>
        <button type="button" class="mdl-button close_other_button">Cancel</button>
    </div>
</dialog>
<button class="mdl-button mdl-js-button mdl-button--accent mdl-button--fab add_rule" onclick="window.open('/add_rule', '_self')">+</button>
<script>
    update_sensors()

    async function update_rotation() {
        let sensors = document.getElementsByClassName('rpm_icon')
        for (let index = 0; index < sensors.length; ++index) {
            const sensor = sensors[index];
            let control_value = '';
            let nothing = '';
            try {
                control_value = parseInt(document.getElementById(sensor.id.replace('rpm', '').replace('fan', 'control') + 'value').innerText)
            }
            catch {
                control_value = 25;
                nothing = '';
            }
            let speed
            if (control_value !== 0) {
                speed = 1000 - ((1000 / 100) * control_value)
            }
            else {
                speed = 0
            }
            sensor.style.animationDuration = speed + 'ms'
        }
    }
    function update_sensors() {
        let xhr = new XMLHttpRequest();
        xhr.open('GET', 'get_sensor_values', false);
        xhr.onreadystatechange = async function () {
            let response_data = JSON.parse(this.response)
            let sensors = response_data['sensors']
            let controls = response_data['controls']
            let idents = Object.keys(sensors)
            let sensor_count = document.querySelectorAll('.sensor-card').length;
            if (idents.length !== sensor_count) {
                await refresh('get_sensors', 'sensors')
            }
            else {
                for (let index = 0; index < idents.length; ++index) {
                    let ident = idents[index]
                    // Update sensor value
                    let target = document.getElementById(ident + 'value')
                    target.innerText = Math.ceil(sensors[idents[index]]).toString()
                    if (ident.includes('control')) {
                        let slider = document.getElementById(ident + 'slider')
                        if (slider.value !== sensors[idents[index]]) {
                            // Slider won't reset while moving it
                            slider.value = sensors[idents[index]]
                        }
                        // Disable slider and button if sensor is in controls
                        let button = document.getElementById('stop' + ident)
                        if (controls.includes(ident)) {
                            slider.disabled = true
                            button.disabled = true
                        } else {
                            slider.disabled = false
                            button.disabled = false
                        }
                    }
                }
            }
            componentHandler.upgradeAllRegistered()  // Needed, so the newly loaded toggles and sliders are decorated
            await update_rotation()
            setTimeout(update_sensors, 1000)
        };
        xhr.send();
    }
    async function refresh(link, id) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', link, true);
        xhr.onreadystatechange = async function () {
            document.getElementById(id).innerHTML = this.responseText;
            componentHandler.upgradeAllRegistered()  // Needed, so the newly loaded toggles and sliders are decorated
        };
        xhr.send();
    }

    function stop_controls(id) {
        let data = new FormData();
        data.append('ident', id);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/stop_controls', true);
        xhr.send(data);
    }

    function setSlider(id, value) {
        let data = new FormData();
        data.append('ident', id);
        data.append('speed', value);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/set_controls', true);
        xhr.send(data);
    }

    function delete_rule(id) {
        let data = new FormData();
        data.append('delete', id);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/delete_rule', true);
        xhr.send(data);
        refresh('get_rules', 'rules')
    }

    function toggle_rule(element, id) {
        const state = document.getElementById(element).checked;
        let data = new FormData();
        data.append('enable', state)
        data.append('toggle', id);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/toggle_rule', true);
        xhr.send(data);
    }

    function set_option(option, state) {
        //const state = document.getElementById(element).checked;
        let data = new FormData();
        data.append('value', state)
        data.append('option', option);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/set_option', true);
        xhr.send(data);
    }

    function rename(id) {
        document.getElementById('newname').value = '';
        document.getElementById('ident').innerText = 'Hardware Identifier: ' + id;
        dialog.showModal();
    }
    function new_name() {
        let data = new FormData();
        let newname = document.getElementById('newname').value
        let ident = document.getElementById('ident').innerText.replace('Hardware Identifier: ', '')
        data.append('ident', ident);
        data.append('name', newname);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/rename_sensor', true);
        xhr.send(data);
        data = null;
        document.getElementById(ident + 'name').innerText = newname
        refresh('get_rules', 'rules')
    }
    const dialog = document.querySelector('dialog');
    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });
    dialog.querySelector('.close_other_button').addEventListener('click', function () {
        dialog.close();
    });
    const save_newname = document.getElementById('newname');
    save_newname.addEventListener('keyup', function(event) {
    if (event.key === 'Enter') {
        event.preventDefault();
        new_name();
        dialog.close();
    }
});
</script>
{% endblock %}
