{% extends 'layout.html' %}
{% block content %}
<div class="mdl-grid" id="rules"></div>
<div id="sensors"></div>
<button class="mdl-button mdl-js-button mdl-button--accent mdl-button--fab add_rule" onclick="window.open('/add_rule', '_self')">+</button>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function run_loop() {
        while (true) {
            if (document.visibilityState === 'visible') {
                await refresh('get_sensors', 'sensors')
                await sleep(1000)
                await refresh('get_rules', 'rules')
                await sleep(1000)
            }
            await sleep(100)
        }
    }
    async function refresh(link, id) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', link, true);
        xhr.onreadystatechange = function () {
            document.getElementById(id).innerHTML = this.responseText;
        };
        xhr.send();
    }
    run_loop()
</script>
{% endblock %}
