{% extends 'layout.html' %}
{% block content %}
<div class="mdl-grid" id="init">
    <p>First, we need to give every sensor a name, so you can recognize them. Leave empty if you don't want to change it. Use <a target="_blank" href="https://github.com/LibreHardwareMonitor/LibreHardwareMonitor">LibreHardwareMonitor</a> to understand the sensors.</p>
    <form class="mdl-cell--12-col" role="form" action="/" style="width: 100%">
    <div class="mdl-grid">
    {% for sensor in sensors_all.values() %}
        <div class="mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
                <!--<label class="mdl-textfield__label" for="sensor{{ loop.index0 }}">Default Name: {{ sensor.Name }}, Hardware String: {{ sensor.Identifier }}, Value: {{ sensor.Value }}</label>-->
                {% if sensor.SensorType == 2 %}
                    {% set label %}
                        {{ sensor.Name }} - {{ sensor.Identifier }} - Temperatur: {{ sensor.Value }}°C
                    {% endset %}
                {% elif sensor.SensorType == 5 %}
                    {% set label %}
                        {{ sensor.Name }} - {{ sensor.Identifier }} - RPM: {{ sensor.Value }}
                    {% endset %}
                {% else %}
                    {% set label %}
                        {{ sensor.Name }} - {{ sensor.Identifier }} - Speed: {{ sensor.Value }}%
                    {% endset %}
                {% endif %}
                <label class="mdl-textfield__label" for="{{ sensor.Identifier }}">{{ label }}</label>
                <input class="mdl-textfield__input" id="{{ sensor.Identifier }}" type="text">
            </div>
        </div>
        {% if sensor.SensorType == 7 %}
        <div class="mdl-cell mdl-cell--1-col">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Test
            </button>
        </div>
        {% endif %}
        <div class="mdl-cell--3-col"></div>
    {% endfor %}
    </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"></i>Save</button>
    </form>
</div>
{% endblock %}
