{% for type in sensors_list %}
<div class="mdl-grid">
    {% for sensor in type.values() %}
    <div class="mdl-cell mdl-cell--2-col">
        <div class="sensor-card index-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                {{sensor.Name}}
                <div class="mdl-layout-spacer"></div>
                {{sensor.Value}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                {% if sensor.SensorType == 2 %}
                <i class="material-icons">wb_sunny</i>
                <div class="mdl-layout-spacer"></div>
                °C
                {% elif sensor.SensorType == 5 %}
                <i class="material-icons">toys</i>
                <div class="mdl-layout-spacer"></div>
                RPM
                {% else %}
                <i class="material-icons">keyboard</i>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">speed</i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
