{% for type in sensors_list %}
    <div class="mdl-cell mdl-cell--4-col">
        {% for sensor in type.values() %}
            <div class="sensor-card index-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand" id="{{ sensor.Identifier|replace('/', '') }}" onclick="rename(this.id)">
                    {{ sensor.Name }}
                    <div class="mdl-layout-spacer"></div>
                    <span id="{{ sensor.Identifier|replace('/', '') }}value">{{ sensor.Value|int }}</span>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    {% if sensor.SensorType == 3 %}
                    <i class="material-icons">device_thermostat</i>
                    <div class="mdl-layout-spacer"></div>
                    °C
                    {% elif sensor.SensorType == 7 %}
                    <i class="material-icons rpm_icon" id="{{ sensor.Identifier|replace('/', '') }}rpm">toys</i>
                    <div class="mdl-layout-spacer"></div>
                    RPM
                    {% elif sensor.SensorType == 9 %}
                    <i class="material-icons">speed</i>
                    <button onclick="stop_controls()" id="stop{{ sensor.Identifier|replace('/', '') }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">slow_motion_video</i>
                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="stop{{ sensor.Identifier|replace('/', '') }}">
                        Stop manual controlling
                    </span>
                    </button>
                    <input type="number" class="hidden" value="{{ sensor.Value|int }}">
                    <p class="slider">
                        <input id="{{ sensor.Identifier|replace('/', '') }}slider" class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="{{sensor.Value|int}}" step="1" onchange="setSlider(this.id, this.value)" {% if sensor.Identifier|replace('/', '') in controls %}disabled{% endif %}>
                    </p>
                    %
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
